<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>

   <add key="log4net_configfile" value=".\config\log4net.config" />
    <add key="SFTP_HOST" value="81.174.69.53" />    
    <add key="SFTP_USER" value="fidia.test" />    
    <add key="SFTP_PWD" value="UkaKABxibJQ2p7CLZDajgjWB" />    
    <add key="SFTP_DOWNLOAD_FOLDER" value="/downloads/xml/" />
    <add key="SFTP_UPLOAD_FOLDER" value="/downloads/xml/" />
    <add key="LOCAL_DOWNLOAD_FOLDER" value="c:\tmp\fatturazione\IN\xml\" />
    <add key="LOCAL_UPLOAD_FOLDER" value="c:\tmp\fatturazione\OUT\xml\" />
    <add key="LOCAL_FILES_FOLDER" value="c:\tmp\fatturazione\IN\files\" />
    <add key="LOCAL_PDF_FOLDER" value="c:\tmp\fatturazione\IN\pdf\" />    
    <add key="LOCAL_UPLOAD_FOLDER_BACKUP" value="c:\tmp\fatturazione\OUT\backup\" />
    <add key="YES_TO_DOWNLOAD" value="true" />
    <add key="YES_TO_UPLOAD" value="false" />
    
    

  </appSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.5.13.0" newVersion="5.5.13.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>