<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>

  <appSettings>

    <add key="log4net_configfile" value=".\config\log4net.config" />
    <add key="SFTP_HOST" value="81.174.69.53" />
    <add key="SFTP_USER" value="fidia" />
    <add key="SFTP_PWD" value="wy5LT69znjxzNGS7AA1MdaG8" />
    <add key="SFTP_DOWNLOAD_FOLDER" value="/uploads/xml.ricevute/" />
    <add key="SFTP_UPLOAD_FOLDER" value="/downloads/xml/" />
    <add key="LOCAL_DOWNLOAD_FOLDER" value="c:\tmp\sftp_prd\PASS\" />
    <add key="LOCAL_DOWNLOAD_FOLDER_BACKUP" value="c:\tmp\sftp_prd\PASS\BACKUP\" />
    <add key="LOCAL_UPLOAD_FOLDER" value="c:\tmp\sftp_prd\ATT\OUT\" />
    <add key="LOCAL_FILES_FOLDER" value="c:\tmp\sftp_prd\PASS\FILES\" />
    <add key="LOCAL_PDF_FOLDER" value="c:\tmp\sftp_prd\PASS\PDF\" />
    <add key="LOCAL_UPLOAD_FOLDER_BACKUP" value="c:\tmp\sftp_prd\ATT\SENT\" />
    <add key="LOCAL_TXT_FOLDER" value="c:\tmp\sftp_prd\PASS\TXT\" />

    <!-- conservazione -->
    <add key="SFTP_UPLOAD_FOLDER_CONSERVAZIONE" value="/downloads/attive" />
    <add key="LOCAL_UPLOAD_FOLDER_CONSERVAZIONE" value="c:\tmp\sftp_prd\CONSERVAZIONE\OUT" />
    <add key="LOCAL_UPLOAD_FOLDER_CONSERVAZIONE_BACKUP" value="c:\tmp\sftp_prd\CONSERVAZIONE\SENT" />


    <add key="LOCAL_DOWNLOAD_FOLDER_ESITI" value="c:\tmp\sftp_prd\NOT\IN\" />
    <add key="SFTP_DOWNLOAD_FOLDER_ESITI" value="/uploads/xml.esiti/" />
    <add key="LOCAL_DOWNLOAD_FOLDER_ESITI_BACKUP" value="c:\tmp\sftp_prd\NOT\XML\" />


    <add key="YES_TO_DOWNLOAD" value="true" />
    <add key="YES_TO_UPLOAD" value="false" />
    <add key="YES_TO_UPLOAD_CONSERVAZIONE" value="false" />
    <add key="CHECK_ESITI" value="false" />
    <add key="REMOVE_ESITI_ONCE_DOWNLOAD" value="false" />

    <add key="DELETE_XML_AFTER_DONWLOAD" value="true" />



  </appSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>

        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0"/>

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral"/>

        <bindingRedirect oldVersion="0.0.0.0-5.5.13.0" newVersion="5.5.13.0"/>

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
