<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>

   <add key="log4net_configfile" value=".\config\log4net.config" />
    <!-- dati sftp -->
    <add key="SFTP_HOST" value="81.174.69.53" />
    <add key="SFTP_USER" value="fidia.test" />
    <add key="SFTP_PWD" value="UkaKABxibJQ2p7CLZDajgjWB" />
    <add key="SFTP_DOWNLOAD_FOLDER" value="/uploads/xml.esiti/" />
    <add key="SFTP_UPLOAD_FOLDER" value="/downloads/xml/" />
    <add key="SFTP_DOWNLOAD_FOLDER_ESITI" value="/uploads/xml.esiti/" />
    <add key="SFTP_UPLOAD_FOLDER_CONSERVAZIONE" value="/downloads/attive" />

    <!-- cartello locali download -->
    <add key="LOCAL_DOWNLOAD_FOLDER" value="E:\FIP\FATTURAZIONE\PASSIVE\XML\" />
    <add key="LOCAL_FILES_FOLDER" value="E:\FIP\FATTURAZIONE\PASSIVE\FILES\" />
    <add key="LOCAL_PDF_FOLDER" value="E:\FIP\FATTURAZIONE\PASSIVE\PDF\" />
    <add key="LOCAL_TXT_FOLDER" value="E:\FIP\FATTURAZIONE\PASSIVE\TXT\" />

    <!-- cartelle locali upload -->
    <add key="LOCAL_UPLOAD_FOLDER" value="E:\SFTPSEND_TEST\FATTURAZIONE\OUT\xml\" />
    <add key="LOCAL_UPLOAD_FOLDER_BACKUP" value="E:\SFTPSEND_TEST\FATTURAZIONE\OUT\backup\" />

    <!-- esiti -->
    <add key="LOCAL_DOWNLOAD_FOLDER_ESITI" value="E:\SFTPSEND_TEST\FATTURAZIONE\ESITI\xml\" />
    <add key="LOCAL_DOWNLOAD_FOLDER_ESITI_BACKUP" value="E:\SFTPSEND_TEST\FATTURAZIONE\ESITI\backup\" />


    <!-- conservazione -->
    <add key="LOCAL_UPLOAD_FOLDER_CONSERVAZIONE" value="E:\SFTPSEND_TEST\CONSERVAZIONE\OUT" />
    <add key="LOCAL_UPLOAD_FOLDER_CONSERVAZIONE_BACKUP" value="E:\SFTPSEND_TEST\CONSERVAZIONE\SENT" />



    <!-- azioni -->

    <add key="YES_TO_DOWNLOAD" value="false" />
    <add key="YES_TO_UPLOAD" value="false" />
    <add key="YES_TO_UPLOAD_CONSERVAZIONE" value="false" />
    <add key="CHECK_ESITI" value="false" />
    <add key="REMOVE_ESITI_ONCE_DOWNLOAD" value="false" /> 

  </appSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.5.13.0" newVersion="5.5.13.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>